@import "tailwindcss";
.section {
  @apply flex gap-4 max-w-[700px] my-8 mx-auto items-center;
}

.section::before {
  @apply content-[""] border border-[#d3d3d3] self-stretch;
}

.section__item {
  @apply flex-1;
}

.section__item--start {
  @apply -order-1;
}

/* tailwindcssではclip-pathが標準ではないため */
.hold-overlay {
  clip-path: inset(0px 100% 0px 0px);
  transition: chip-path 200ms ease-out;
}

.button {
  transition: transform 160ms ease-out;
}

.button:active {
  transform: scale(0.97);
}

.button:active .hold-overlay {
  clip-path: inset(0px 0px 0px 0px);
  transition: clip-path 2s linear;
}
